@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
:root {
  --primary-color: #fca311;
}
.App {
  text-align: center;
}
.p2 {
  padding: 2rem;
}
a,
li {
  color: #000;
  text-decoration: none;
  list-style-type: disc;
}
.btn {
  padding: 5px 20px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding-inline: 2rem;
}
.navbar__logo span {
  color: #fca311;
}
@media (max-width: 32rem) {
  .p2 {
    padding: 0;
  }
}
